<h1>Store Status</h1>

 <table class="table table-striped">
   <tr>
       <th scope="col" class="danger text-center status">
         <%= link_to 'Product Count', controller: 'admin/products' %>
       </th>
       <th scope="col" class="info text-center status">
       <%= link_to 'Category Count', controller: 'admin/categories' %>
       </th>
   </tr>
   <tbody>
     <tr>
       <td class="success text-center status"><%= @product_count %></td>
       <td class="warning text-center status"><%= @category_count %></td>
     </tr>
   </tbody>
 </table>